<a href="https://colab.research.google.com/github/CeskKim/AI-Study/blob/main/prophet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prophet quick start
import pandas as pd
from prophet import Prophet

# source data
df = pd.read_csv('https://raw.githubusercontent.com/facebook/prophet/main/examples/example_wp_log_peyton_manning.csv')
df.head()

# fit setting
m = Prophet()
m.fit(df)

future = m.make_future_dataframe(periods=365)
future.tail()

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [8]:
# stock python package
!pip install finance-datareader
import FinanceDataReader as fdr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting finance-datareader
  Downloading finance_datareader-0.9.50-py3-none-any.whl (19 kB)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.9.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.64.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (1.3.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.6)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from requests-file->finance-datareader) (1.15.0)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.50 requests-file-1.5.1

In [13]:
# samsung, apple, btc stock
samsung_stock = fdr.DataReader('005930')
apple_stock = fdr.DataReader('AAPL')
bitcoin_stock = fdr.DataReader('BTC/KRW', '2022-12-01', '2023-02-14')
bitcoin_stock.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-10,27598862.0,27762404.0,27289442.0,27452944.0,27452944.0,34334471816609
2023-02-11,27453778.0,27757652.0,27411438.0,27731612.0,27731612.0,20739204175472
2023-02-12,27731648.0,27972680.0,27493236.0,27626850.0,27626850.0,22596601860256
2023-02-13,27625322.0,27915644.0,27326242.0,27768038.0,27768038.0,30455495774412
2023-02-14,27749140.0,27719566.0,27536622.0,27719566.0,27719566.0,26294284713984

In [22]:
# prophet model
from prophet import Prophet
bitcoin_stock = fdr.DataReader('BTC/KRW', '2022-12-01', '2023-02-14')
bitcoin_stock.tail()
bitcoin_stock['y'] = bitcoin_stock['Close']
bitcoin_stock['ds'] = bitcoin_stock.index

pr = Prophet()
pr.fit(bitcoin_stock)

# prophet prediction period
future = pr.make_future_dataframe(periods=60)
forecast = pr.predict(future)
forecast.tail()
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].iloc[-40:-20]

INFO:prophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
DEBUG:cmdstanpy:input tempfile: /tmp/tmplts877zm/sthceou7.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmplts877zm/npd5acc9.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.8/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=80626', 'data', 'file=/tmp/tmplts877zm/sthceou7.json', 'init=/tmp/tmplts877zm/npd5acc9.json', 'output', 'file=/tmp/tmplts877zm/prophet_modelwng_ay1l/prophet_model-20230214122500.csv', 'method=optimize', 'algorithm=newton', 'iter=10000']
12:25:00 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
12:25:01 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

            ds          yhat    yhat_lower    yhat_upper
96  2023-03-07  2.716508e+07  2.507801e+07  2.930473e+07
97  2023-03-08  2.711542e+07  2.500618e+07  2.931705e+07
98  2023-03-09  2.698136e+07  2.460286e+07  2.942091e+07
99  2023-03-10  2.702515e+07  2.443648e+07  2.959764e+07
100 2023-03-11  2.705030e+07  2.418863e+07  2.988790e+07
101 2023-03-12  2.699811e+07  2.416373e+07  2.979923e+07
102 2023-03-13  2.682532e+07  2.381629e+07  2.988870e+07
103 2023-03-14  2.686300e+07  2.374018e+07  3.005584e+07
104 2023-03-15  2.681333e+07  2.339539e+07  3.016684e+07
105 2023-03-16  2.667928e+07  2.333309e+07  3.023323e+07
106 2023-03-17  2.672306e+07  2.315503e+07  3.045220e+07
107 2023-03-18  2.674822e+07  2.290436e+07  3.056642e+07
108 2023-03-19  2.669602e+07  2.280842e+07  3.077498e+07
109 2023-03-20  2.652323e+07  2.247824e+07  3.080140e+07
110 2023-03-21  2.656091e+07  2.223863e+07  3.098982e+07
111 2023-03-22  2.651124e+07  2.214906e+07  3.109363e+07
112 2023-03-23  2.637719e+07  2.170470e+07  3.129966e+07
113 2023-03-24  2.642097e+07  2.163316e+07  3.158353e+07
114 2023-03-25  2.644613e+07  2.150556e+07  3.161174e+07
115 2023-03-26  2.639394e+07  2.115943e+07  3.193545e+07